@model IEnumerable<DataObjects.ProductOrder>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateExpected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasArrived)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateExpected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAddressId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasArrived)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                </td>
            </tr>
        }

    </table>
