@model DataObjects.SupplierWithAgreements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupplierWithAgreements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmTaxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmTaxID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FarmState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
