@model DataObjects.BrowseProductViewModel

@{
    ViewBag.Title = Model.Name;
}

@*
    Updated by Skyler Hiscock 04/08/17
*@

<h2>Details</h2>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Binary)
        </dt>

        <dd>
            <img src="@Url.Action("PictureOf", "Products", new { id = Model.ProductId})" width="100" height="100" />
        </dd>

    </dl>
</div>
@using (Html.BeginForm("AddToCart", "Cart"))
{
    <input type="number" name="Quantity" value="1" />
    <select name="Grade">
        @foreach (var gradeOption in Model.GradeOptions)
        {
            <option value="@gradeOption.GradeID">@gradeOption.GradeID: @gradeOption.Price</option>
        }
    </select>
    <div class="pull-right">
        @Html.HiddenFor(x => x.ProductId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="hidden" name="supplierId" value="@Model.SupplierID" />
        <input type="submit" class="btn btn-success" value="Add to cart" />
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
