@model MVCPresentationLayer.Models.ProductsListViewModel
@Scripts.Render("~/bundles/searchproducts")

@{
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    @Scripts.Render("~/bundles/searchproducts")
}

<!-- Start Top Bar Banner and Categories -->
<header class="main-header scrollme" id="top">

    @*Cart*@
    <div class="container">
        <div class="shopping-cart style3">
            @Html.Partial("_CartPartial", Model.CartPageModel)
        </div>
    </div>
    @*End of Cart*@


    <div class="top-banner-container top-banner-container-style2">
        @Html.Partial("_TopSectionPartial")

        @*Filters Strips*@
        <div class="header-bottom-bar style3">
            <div class="container">
                <div class="row">

                    @*Category Filter*@
                    <div class="col-md-6">
                        @Html.Action("NavMenu", "Products", new {categories = Model.Categories, searchPhrase = Model.SearchPhrase, selectedCategory = Model.CurrentCategory})
                    </div>
                    @*End of Category Filters*@

                    @*Search Bar*@
                    <div class="col-md-3">
                        @using (Html.BeginForm("Index", "Products", FormMethod.Get, new {@class = "search-form"}))
                        {
                            @Html.TextBox("search", null, new {name = "search", id = "search-clear", placeholder = "Search products"})
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        }
                    </div>
                    @*End of Search Bar*@
                    
                    @*Login Partia*@
                    <div class="col-md-3"style="color: white;">
                        @Html.Partial("_LoginPartial")
                    </div>

                </div>
            </div>
        </div>
        @*End of Filters Strip*@
    </div>

</header>
<!-- End of top bar banner and categories -->

@*Products Section*@
<section class="store-items style3">
    <div class="container">
        <div class="row">

            @foreach (var item in Model.Products)
            {
                @Html.Partial("_ProductSummary", item)
            }

        </div>

    </div>



</section>
@*End of Products Section*@

@*Pagination*@
<div class="button-style2 load-more align-center fadeInUp ">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { search = Model.SearchPhrase, category = Model.CurrentCategory, page = x }))
</div>
@*End of Pagination*@