@model MVCPresentationLayer.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
    
}

@*Start Main Header*@
<header class="main-header custom-bg41 parallax" data-stellar-background-ratio="0.5" id="top">
    <div class="logo-container align-center style2">
        <a href="#" class="logo">
            <img src="~/Images/slider-images/lolgobg2.png" alt="Snack Overflow Logo" />
        </a>
        <h1 style="color: white;">Registration Options</h1>
    </div>
</header>
@*End of Main Header*@


<section class="registerOptions style3" style="background-color: white;">

    <div class="container">
        <br /><br /><br /><br /><br /><br />
        <div class="registerOptions-carousel grayscale-image">

            <div class="row">
                <div class="registerOptions-logo-container wow fadeInUp col-md-12">
                    <figure class="">
                        @Html.ActionLink("Apply for a Supplier Account", "Create", "SupplierWithAgreements", null, new { @class = "btn btn-default" })
                    </figure>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="registerOptions-logo-container wow fadeInUp col-md-12 " data-wow-delay="0.2s">
                    <figure class="">
                        @Html.ActionLink("Apply for a Commercial Account", "RegisterCommercial", "Home", null, new { @class = "btn btn-default" })
                    </figure>
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="registerOptions-logo-container wow fadeInUp col-md-12" data-wow-delay="0.2s">
                    <figure class="">
                        <a href="~/Images/SnackOverflowCharityForm.pdf" target="_blank" class="btn btn-default">Apply for a Charity Account</a>
                    </figure>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>
</section>







@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
