@model IEnumerable<DataObjects.UserCartLine>

@{
    ViewBag.Title = "View Cart";
}

<h2>Cart:</h2>
<table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
    @foreach (var cartItem in Model)
    {
        <tr>
            <td>@cartItem.Name</td>
            <td>@cartItem.Quantity</td>
            <th><form action="RemoveFromCart" method="post">
                    <input type="hidden" name="userId" value="@cartItem.UserID" />
                    <input type="hidden" name="productId" value="@cartItem.ProductID" />
                    <input type="hidden" name="quantity" value="@cartItem.Quantity" />
                    <input type="hidden" name="gradeId" value="@cartItem.GradeID" />
                    <input type="submit" value="Remove" name="submit" />
                </form>
            </th>
        </tr>
    }
</table>

