@model Tuple<DataObjects.SupplierInvoiceLine, DataObjects.SupplierInvoice>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupplierInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.SupplierInvoiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.SupplierInvoiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.SupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.TaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.TaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.AmountPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.AmountPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.ProductLotId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.ProductLotId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.QuantitySold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.QuantitySold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.PriceEach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.PriceEach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.ItemDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.ItemDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.ItemTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.ItemTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item2.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item2.Active)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.SupplierInvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
