@model IEnumerable<DataObjects.CommercialInvoice>
@{
    ViewBag.Title = "Commercial Invoice";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

@*Start Main Header*@
<header class="main-header custom-bg41 parallax" data-stellar-background-ratio="0.5" id="top">
    <div class="logo-container align-center style2">
        <a href="#" class="logo">
            <img src="~/Images/slider-images/lolgobg2.png" alt="Snack Overflow Logo" />
        </a>
        <h1 style="color: white;">Commercial Invoices</h1>
    </div>
</header>
@*End of Main Header*@

<section class="store-cart style3">
    <div class="container">
        <div class="cart-items wow fadeInDown">
            <table>
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CommercialInvoiceId)</th>
                    <th>@Html.DisplayNameFor(model => model.OrderId)</th>
                    <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
                    <th>@Html.DisplayNameFor(model => model.SubTotal)</th>
                    <th>@Html.DisplayNameFor(model => model.TaxAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.Total)</th>
                    <th>@Html.DisplayNameFor(model => model.AmountPaid)</th>
                    <th>@Html.DisplayNameFor(model => model.Approved)</th>
                    <th>@Html.DisplayNameFor(model => model.Active)</th>
                </tr>
                </thead>
                    
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.CommercialInvoiceId.ToString(), "Details", new { id = item.CommercialInvoiceId })</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                        <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubTotal)</td>
                        <td>@Html.DisplayFor(modelItem => item.TaxAmount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                        <td>@Html.DisplayFor(modelItem => item.AmountPaid)</td>
                        <td>@Html.DisplayFor(modelItem => item.Approved)</td>
                        <td>@Html.DisplayFor(modelItem => item.Active)</td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</section>


                    @*<table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CommercialInvoiceId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CommercialId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InvoiceDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubTotal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TaxAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AmountPaid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Approved)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.CommercialInvoiceId.ToString(), "Details", new { id = item.CommercialInvoiceId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommercialId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaxAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AmountPaid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Approved)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                            </tr>
                        }

                    </table>*@
