@using Microsoft.AspNet.Identity
@model DataObjects.ShippingDetails

@{
    ViewBag.Title = "SnackOverflow: Checkout";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

@*Checkout*@
<section class="store-checkout">

    <div class="container wow fadeInDown">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "billing-address", role = "form" }))
                {
                    <h3>@ViewBag.Error</h3>
                    <h2>Check out now, @User.Identity.GetUserName()</h2>
                    <p>Please enter your details, and we'll ship your goods right away!</p>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <hr />
                    <div class="row">
                        <div class="input-container col-md-12">
                            @Html.TextBoxFor(m => m.Line1, new { @class = "small-input white-bg", @name = "billing-street-address", @id = "billing-street-address", @placeholder = "Address Line 1" })
                            @Html.ValidationMessageFor(m => m.Line1, "", new { @class = "text-danger" })
                        </div>

                        <div class="input-container col-md-12">
                            @Html.TextBoxFor(m => m.Line2, new { @class = "small-input white-bg", @name = "billing-street-address", @id = "billing-street-address", @placeholder = "Address Line 2" })
                            @Html.ValidationMessageFor(m => m.Line2, "", new { @class = "text-danger" })
                        </div>

                        <div class="input-container col-md-6">
                            @Html.TextBoxFor(m => m.City, new { @class = "small-input white-bg", @name = "billing-city", @id = "billing-city", @placeholder = "City" })
                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                        </div>

                        <div class="input-container col-md-6">
                            @Html.TextBoxFor(m => m.State, new { @class = "small-input white-bg", @name = "billing-state", @id = "billing-state", @placeholder = "State" })
                            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                        </div>

                        <div class="input-container col-md-6">
                            @Html.TextBoxFor(m => m.Zip, new { @class = "small-input white-bg", @name = "billing-postcode", @id = "billing-postcode", @placeholder = "Zip" })
                            @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
                        </div>

                        @Html.HiddenFor(m => m.IdentityUsername, new { Value = User.Identity.GetUserName() })

                        <div class="col-md-12 align-right">
                            <input type="submit" value="Place Order" class="custom-button button-style3 filled medium" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@*End of Checkout*@












@*Old Design*@
@*<div class="row">
<section id="registerForm">

    <h3>@ViewBag.Error</h3>

    @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Line1, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Line1, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Line1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line2, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Line2, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Line2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Zip, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(m => m.IdentityUsername, new { Value = User.Identity.GetUserName() })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Complete Order" class="btn btn-default" />
            </div>
        </div>
    }
</section>
</div>*@
