@model DataObjects.SupplierProductLot

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

@*Start Main Header*@
<header class="main-header custom-bg41 parallax" data-stellar-background-ratio="0.5" id="top">
    <div class="logo-container align-center style2">
        <a href="#" class="logo">
            <img src="~/Images/slider-images/lolgobg2.png" alt="Snack Overflow Logo"/>
        </a>
        <h1 style="color: white;">Create Supplier Goods</h1>
    </div>
</header>
@*End of Main Header*@


<section class="store-checkout">
    <div class="container wow fadeInDown billing-address">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    <h4>Add a new Product</h4>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <hr />
                    <div class="input-container col-md-6">
                        @Html.EditorFor(model => model.ExpirationDate, new {htmlAttributes = new { @class = "form-control small-input white-bg", placeholder = "Expiration Date" }})
                        @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container col-md-6">
                        @Html.DropDownListFor(model => model.ProductId, new SelectList(ViewBag.products, "ProductId", "ProductName"))
                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container col-md-6">
                        @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new { @class = "form-control small-input white-bg", placeholder = "Quantity" }})
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container col-md-6">
                        @Html.EditorFor(model => model.SupplierId, new { htmlAttributes = new { @class = "form-control small-input white-bg", @readonly = "readonly", placeholder = "Supplier ID" } })
                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-container col-md-6">
                        @Html.EditorFor(model => model.Price, new {htmlAttributes = new { @class = "form-control small-input white-bg", placeholder = "Price" }})
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12 align-right">
                        <input type="submit" value="Submit" class="custom-button button-style3 filled medium" />
                    </div>

                    <div class="col-md-12 align-right">
                        <hr/>
                        <h3>@Html.ActionLink("Back to List", "Index")</h3>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@