@model IEnumerable<DataObjects.SupplierProductLot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.SupplierProductLotId)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.ProductId)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.Quantity)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.SupplierId)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.Price)
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierProductLotId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierProductLotId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierProductLotId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierProductLotId })
        </td>
    </tr>
}

</table>
