@model MVCPresentationLayer.Models.CartPageModel

<div class="cart-container clearfix">
    <a href="#" class="cart-link"><span>@Model.ItemsInCart.Count()</span></a>

    <div class="cart-items">
        <div class="cart-counter">
            <h5><span><span>@Model.ItemsInCart.Count()</span> Items</span> In Cart</h5>
        </div>
        <ul>
            @foreach (var a in Model.ItemsInCart)
            {
                <li>
                    <div class="item-container clearfix">
                        <figure>
                            <img src="@Url.Action("PictureOf", "Products", new {id = a.ProductID})" width="100" height="100" alt="Product Image" />
                        </figure>
                        <p class="food-name">
                            <a href="#">@a.Name</a>
                        </p>
                        <p class="food-price">@a.Total</p>
                    </div>
                </li>
            }
        </ul>

        @Html.ActionLink("View Cart", "ViewCart", "Account", null, new { @class = "button view-cart-btn" })
        @Html.ActionLink("Checkout", "Checkout", "Cart", null, new { @class = "button checkout-btn" })
    </div><!-- /cart-items -->
</div><!-- /cart-container -->
