<div class="main-nav-inner">
    <div class="logo-container">
        <a href="#">
            <img src="~/Images/slider-images/Flogo2.png" alt="snack overflow logo">
        </a>
    </div><!-- /logo-container -->
    <nav class="main-nav">
        <ul>
            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Store", "Index", "Products")</li>
            @if (!Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
            else
            {
                <li>@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
            
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>
    </nav>
</div><!-- /main-nav-inner -->
